* {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color :#DBCA69;
    opacity: 85%;
    border-bottom: 2px solid;
    position: fixed;
    width: 100%;
    height: 66px;
   }

#logoIcon {
    height: 64px;
    margin: -8px 0 21px 24px;
   }

#fullLogo {    
    display: inline-flex; 
    font-size: 32px;
    margin: 16px 0 18px 24px;
   }

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    
   }
#nav-links {
    display: inline-flex; 
    float: right;
    margin-right: 24px;
    
}

ul {
    text-align: right;
    
   }
li {
    display: inline-flex;
    padding: 16px;
 
   }

   #hero {
    background-color: royalblue;
    padding-top: 66px;
    display: inline-flex;
    }

#banner {
    width: 60%;
    height: auto;
    padding: 32px 24px;
    
   }
#hero-text-container {
    width: 40%;
    margin: 32px 72px 32px 0;   
}

.hero-text-container {
    margin-bottom: 15px;
    padding: 8px 0;
    
}

#startButton {
    width: 100%;
    
}
   
#practicing {
    background-color: #cfceca;  
}

#practicing-img {
padding-bottom: 32px;
}

.infoMain {
    width: 60%;
    height: auto; 
    padding: 0 24px 32px 24px;
}



#learning {
    background-color: royalblue;
}

#thesis {
    background-color: #DBCA69;
}

#play {
    width: 60%;
    height: auto; 
}