* {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color :#DBCA69;
    opacity: 85%;
    border-bottom: 2px solid;
    position: fixed;
    width: 100%;
    height: 66px;
   }

#logoIcon {
    height: 64px;
    margin: -8px 0 21px 24px;
   }

#fullLogo {    
    display: inline-flex; 
    font-size: 32px;
    margin: 16px 0 18px 24px;
   }

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    
   }
#nav-links {
    display: inline-flex; 
    float: right;
    margin-right: 24px;
    
}

ul {
    text-align: right;
    
   }
li {
    display: inline-flex;
    padding: 16px;
 
   }

                       /*  <!--*****SECTION 1 HERO BANNER*****--> */

   #hero {
    background-color: royalblue;
    padding-top: 66px;
    display: inline-flex;
    width: 100%;
    height: auto;
    }

#banner {
    width: 60%;
    height: auto;
    margin: 32px 24px;
    
   }
#hero-text-container {
    width: 40%;
    margin: 32px 72px 32px 0;   
}

.hero-text-container {
    margin-bottom: 15px;
    padding: 8px 0;
    
}

#startButton {
    width: 100%;
    
}

                    /*<!--*****SECTION 2 PRACTICING*****--> */
   
#practicing {
    background-color: #cfceca;  
    display: inline-flex;
    width: 100%;
    height: auto;
}

.infoMain, .practicing-img {
    width: 100%;
    height: auto;
    
    
}
.practicing-img {
    margin-bottom: 32px;
}

#infoMain {
    margin: 32px 24px;
    width: 60%;
    height: auto;
    
    
}  

#practicingImageP {
    margin: 24px 0;

}

#currentEventsContainer {
    width: 40%;
    height: auto;
    display: inline-block;
    background-color: pink;
}

.currentEvent {
    width: 100%;
    height: auto;
    display: flex;
    padding:5px
}


.eventImages {
    width: 35%;
    height: auto;
}

.eventTexts {
    width: 65%;
    height: auto;
}





















                    /*  <!--******SECTION 3 LEARNING*******-->  */

#learning {
    background-color: royalblue;
}


                        /*<!--*****SECTION 4 THESIS********-->*/

#thesis {
    background-color: #DBCA69;
}

#play {
    width: 60%;
    height: auto; 
}


                          /*<!--*****SECTION FOOTER********-->*/








