* {
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
#navbar {
    background: linear-gradient(90deg, rgba(232,216,67,1) 0%, rgba(219,202,105,1) 100%);
    opacity: 85%;
    border-bottom: 2px solid;
    position: fixed;
    width: 100%;
    height: 66px;
}

#logoIcon {
    height: 64px;
    margin: -8px 0 21px 24px;
}

#fullLogo {    
    display: inline-flex; 
    font-size: 32px;
    margin: 16px 0 18px 24px;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    padding: 16px;
}
   
#nav-links {
    display: inline-flex; 
    float: right;
    margin-right: 24px;
    text-align: right;
}

#nav-links .nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: royalblue;
    transition: width .4s;

}
#nav-links .nav-link:hover::after{
    width: 100%;
    transition: width .4s;
}

li {
    display: inline-flex;   
}


/*  <!--*****SECTION 1 HERO BANNER*****--> */

#hero {
    background: linear-gradient(0deg, rgba(43,88,226,1) 0%, rgba(9,66,231,1) 1%, rgba(46,92,222,1) 14%, rgba(48,93,222,1) 21%, rgba(73,110,216,1) 35%, rgba(88,118,199,1) 59%, rgba(232,216,67,1) 98%);
    padding-top: 66px;
    display: inline-flex;
    width: 100%;
    height: auto;
}

#heroImageContainer {
    width: 60%;
    height: auto;
    margin: 32px 24px;
   
}

#heroImage {
    width: 100%;
    height: auto; 
}


#heroTextContainer {
    width: 40%;
    height: auto;
    margin: auto
   
}

#heroText {
    align-content: center;
    margin: 32px 24px;
}

#heroImageP {
    padding: 24px 0;
}

#startButton {
    width: 100%;
    padding: 8px 0;
}

  /*<!--*****SECTION 2 PRACTICING*****--> */
   
#practicing {
    background: linear-gradient(0deg, rgba(170,170,169,1) 2%, rgba(207,206,202,1) 98%);
    display: inline-flex;
    width: 100%;
    height: auto;
}

#infoMain {
    margin: 32px 24px;
    width: 60%;
    height: auto; 
}  

.infoMain, #practicingImage {
    width: 100%;
    height: auto;
}

#practicingImage {
    margin-bottom: 32px;
}

#practicingImageP {
    margin: 24px 0;

}

#currentEventsContainer {
    width: 40%;
    height: auto;
    display: inline-block;
    margin: 32px 24px 32px 0;
}

.currentEvent {
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(159, 160, 161);
    margin: 10px;
}

.eventImages {
    width: 35%;
    height: auto;
    padding: 16px;
}

.eventTexts {
    width: 65%;
    height: auto;
    margin: auto;
    padding: 16px 16px 16px 0;
}

.eventTextP {
    margin: 8px 0; 
}

/*  <!--******SECTION 3 LEARNING*******-->  */

.sectionTitle {
    text-align: center;
    padding-top: 32px;
}

#learning {
    background: linear-gradient(0deg, rgba(43,88,226,1) 0%, rgba(9,66,231,1) 1%, rgba(46,92,222,1) 14%, rgba(48,93,222,1) 21%, rgba(73,110,216,1) 35%, rgba(88,118,199,1) 59%, rgba(210,188,62,1) 98%, rgba(163,161,115,1) 100%);
}

#learningTilesContainer {
/*     display: block; */
    display: flex;
    padding: 16px 54px;
    
}

.learningTileRows {
    width: 100%;
    
}

.learningTile {
    background-color :#f1e495;
    
/*     display: inline-block; */
/*     margin: 16px; */
    margin: 35px;
    align-content: center;
    border: black 1px solid;
    
}

.tileImages {
    width: 100%;
    height: auto;
}

.tileTexts {
    padding: 16px 16px 24px 16px;
    
}

.tileTexts .coursesDescriptionText{
    font-size: 18px;
}

.coursesText {
    margin: 8px 0;
    font-size: 18px;
    color: #ffffff;
/*     background-color: #cfceca; */
    background-color: #3c50a8;
    opacity: 80%;
    width: 20%;
    text-align: center;
    justify-content: center;
    border-radius: 100%;
    border: rgb(159, 160, 161) 1px solid;
}

 /*<!--*****SECTION 4 THESIS********-->*/

#thesis {
    background-color: #cfceca;
    width: 100%;
    height: auto;
}

#thesisTitle {    
    text-align: center;
    padding-top: 32px;
}   

#thesisContainer {
    display: flex;

}

#videoContainer {
    margin: 32px 24px;
    width: 60%;
    height: auto; 
}

#exhibitsContainer {
    width: 40%;
    height: auto;
    display: inline-block;
    margin: 32px 24px 32px 0;
    
}

.videoContainer {
    width: 100%;
    height: auto;
}

#play {
    margin-bottom: 16px;
}

#videoTitle {
    padding-bottom: 8px;
}
 
.exhibits {
    width: 100%;
    height: auto;
    display: flex;
    background: linear-gradient(0deg, rgba(170,170,169,1) 2%, rgba(207,206,202,1) 98%);
    margin-bottom: 10px;
}
    
.exhibitImages {
    width: 35%;
    height: auto;
    padding: 16px;
}
    
.exhibitTexts {
    width: 65%;
    height: auto;
    margin: auto;
    padding: 16px 16px 16px 0;
}
    
    
.exhibitTextP {
    margin: 8px 0; 
}

 /*<!--*****SECTION FOOTER********-->*/

 #footerContainer {
    padding: 16px 24px;
    margin-bottom: 48px;
}

#copyright {
    display: inline-flex; 
    float: left; 
}

#footerLinks {
    display: inline-flex; 
    float: right;
}

.btn {
    width: 100%;
    /*position: relative;*/

    display: block;
    margin: 0 auto;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #DBCA69;
    color: black;

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: rgb(159, 160, 161);
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
    font-size: 1.7em;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* footer begin from here  */
footer {
    background: linear-gradient(90deg, rgba(219,202,105,1) 0%, rgba(210,188,62,1) 100%);
    color: #fff;
    font-family: "Inter", sans-serif;
    width: 100%;
}
.footerContent {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    align-items: center;
    justify-content: space-between;
}
.column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.column1 h5 {
    font-size: 1.5rem;
}
.column1 a {
    text-decoration: none;
    color: #fff;
}

.column2 a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    padding: 5px 20px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
    margin: 5px 2px;
    display: inline-block;
}

.column2 a:hover {
    color: rgb(170, 111, 0);
    background: rgba(255, 255, 255, 0.9);
}

.column2 p {
    font-size: 2.5em;
    margin: 0;
    line-height: 1.2;
    font-weight: 500;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.contactLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactIcons {
    width: 80%;
    margin: auto;
}
.copy {
    /* height: 5vh; */
    display: flex;
    justify-content: center;
}





@media (max-width: 1200px){
    .coursesText{
        width: 27%;
    }
}


/* Code for responsive footer  */
@media (max-width: 890px) {
    .column1,
    .column2 {
        width: 50%;
    }
    .contactLinks {
        margin-top: 10px;
        width: 100%;
    }
    
    /* thesis section */

    #thesis{
        display: flex;
        flex-direction: column;
    }
    #thesisContainer{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    #exhibitsContainer{
        width: 90vw;
        display: flex;
        align-items: center;

    }
    .exhibits{
        width: 100%;
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    #videoContainer {
        width: 80%;
      
    }
    .exhibitImages{
        width: 100%;
    }
    .exhibitTexts{
        text-align: center;
    }

}

@media (max-width: 800px){
    /* Learning section */
    #learning{
        padding: 3rem;
    }

    #learningTilesContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .coursesText{
        width: 25%;
    }
}




@media (max-width: 600px){

    #exhibitsContainer{
        flex-direction: column;
        width: 80vw;
    }
    .exhibitOne{
        margin-bottom: 1rem;
    }
    
    .coursesText{
        width: 35%;
    }


    #learning{
        padding: 2rem;
    }

}

@media (max-width: 500px) {
    .footerContent {
        justify-content: center;
    }
    .column1 {
        margin: 15px 0;
        padding-left: 4%;
    }
    .column2 {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        padding-left: 4%;
    }
    
    #learning{
        padding: 0;
    }

    .coursesText{
        width: 40%;
    }
}


@media screen and (max-width: 330px){
    .coursesText{
        width: 45%;
    }
}

/* Code for responsive footer ends here  */





/* Styles, not important */
*, *:before, *:after {
    box-sizing: border-box;
}


/* add the responsiveness to the hero banner section */ 

@media screen and (max-width:767px) {
    /*  <!--*****SECTION 1 HERO BANNER*****--> */
    #hero {
        display: block;
        width: 100%;
        height: auto;
    }
    
    #heroImageContainer {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0;
    }
    #heroImageContainer img {
        max-width: 100%;
    }
    #heroTextContainer {
        width: 100%;
        height: auto;
        padding:32px 16px;
    }
}


/* responsive navbar */ 
#humberger , #check {
    display: none;
}
@media screen and (max-width:989px){
    /* resizing the logo */
    #navbar {
        display: flex;
        align-items: center;
    }
    #logoIcon {
        height: 40px;
        margin: 0;
    }
    
    #fullLogo {    
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    width: max-content;
    margin: 0;
    }

    #humberger {
        display:grid;
        place-items:center;
        width:30px;
        height:24px;
        position:absolute;
        top: 20px;
        right: 24px;
        z-index: 99;
    }
    #humberger  div{
        background-color:black;
        width:100%;
        height:3px;
      }
      #humberger  div::before,
      #humberger  div::after{
        content:"";
        right:0;
        left:0;
        height:3px;
        position:absolute;
        background-color:black;
        transform-origin:left center;
      }
      #humberger  div::before{
        top:0px;
      }
      #humberger  div::after{
        bottom:0px;
      }
      #humberger  > * {
        transition:all 0.3s;
      }
      #check:checked + label div{
        /*transform:translateX(-30px);*/
        background-color:transparent;
      }
      
      #check:checked + label div::before{
        transform:rotate(45deg) ;
        background-color: white;
      }
      #check:checked + label div::after{
        transform:rotate(-45deg);
        background-color: white;
      }
      #nav-links {
          position: fixed;
          top: 0;
          width: 100%;
          height: max(100vh,300px);
          left: -100%;
          transition: all 0.3s;
          background-color: rgba(0, 0, 0, .6);
          display: grid;
          place-content: center;
      }
      #nav-links ul {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 30px;
      }
      #check:checked ~ #nav-links {
        left: 0;
      }
}